node_modules
.env
.vscode
.idea

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types
/src/typechain
/src/abi

# solidity-coverage files
/coverage
/coverage.json

# Package
/dist
/deployments
